{
    // 场景列表
    "scenes": [{
        // 场景名称
        "name": "llbxsdg",
        // 串联后日志存储路径
        "index_name_perfix": "e2e_llbxsdg-",
        // 定时任务执行
        "cron": "*/10 * * * * *",
        // 检索的时间范围
        "time_range":180,
        // 启动多少个并发进程用于串联数据
        // "worker":5,
        // 标识起始节点，可省略
        // "first_tache":"sjf",
        "taches":{
          
          "sdq" : {
            "index_name_perfix":"llbxsdg_sdq-",
            "time_field":"order_time",
            "id_field":"shopping_car_sn"
          },
          "scsb" : {
            "index_name_perfix":"llbxsdg_scsb-",
            "time_field":"msg_arrive_time",
            "id_field":"shopping_car_sn"
          },
          "scrm" : {
            "index_name_perfix":"llbxsdg_scrm-",
            "time_field":"order_submit_time",
            "id_field":"order_number"
          },
          "sjf" : {
            "index_name_perfix":"llbxsdg_sjf-",
            "time_field":"order_effect_time",
            "id_field":"order_number"
          }

        },
        // links 用于描述环节间的联系（虚拟的有向无环图）
        "links":[
          // 省电渠 到 省 CSB
          {
            "from":{
            "tache":"sdq",
            "tache_id":"shopping_car_sn"
          },
          "to":{
            "tache":"scsb",
            "tache_id":"shopping_car_sn"
          }},

          // 省 CSB 到 省 CRM
          {
            "from":{
            "tache":"scsb",
            "tache_id":"shopping_car_sn"
          },
          "to":{
            "tache":"scrm",
            "tache_id":"order_number"
          }},

          // 省 CRM 到 省计费
          {
            "from":{
            "tache":"scrm",
            "tache_id":"order_number"
          },
          "to":{
            "tache":"sjf",
            "tache_id":"order_number"
          }}
        ]
    }]
}
