{
    "env_keys": {
        "run_env": "RUN_MODE"
    },
    "loggers": [{
        "name": "main",
        "config": {
            "production": {
                "out": {
                    "name": "stdout",
                    "options": {
                    }
                },
                "level": "debug",
                "formatter": {
                    "name": "text",
                    "options": {
                        "force_colors": false,
                        "disable_colors": false,
                        "disable_timestamp": false,
                        "full_timestamp": true,
                        "timestamp_format": "2006-01-02 15:04:05.000 -0700",
                        "disable_sorting": false
                    }
                }
              
            }
        }
    }]
}