{
    "env_keys": {
        "run_env": "RUN_MODE"
    },
    "loggers": [{
        "name": "main",
        "config": {
            "production": {
                "out": {
                    "name": "stdout",
                    "options":{}
                },
                "level": "debug",
                "formatter": {
                    "name": "json"
                }
            }
        }
    }]
}